/**
 * Linkedin button on profiles
 **/


.eh_linkedin_button {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-weight: bold;
  background-color: #EB6949;
  background-image: -webkit-linear-gradient(top, #EB6949 0%,#C95032 100%);
  background-image: -moz-linear-gradient(top, #EB6949 0%,#C95032 100%);
  background-image: -o-linear-gradient(top, #EB6949 0%,#C95032 100%);
  background-image: linear-gradient(top, #EB6949 0%,#C95032 100%);
  border: 1px solid #AC3F23;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 31px;
  padding: 0 13px;
  line-height: 30px;
  margin: 5px 5px 0 0;
  text-shadow: rgba(0, 0, 0, 0.34902) 0px 1px 1px;
}

.eh_linkedin_button:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  background-color: #D65B3C;
  background-image: -webkit-linear-gradient(top, #D65B3C 0%,#B84123 100%);
  background-image: -moz-linear-gradient(top, #D65B3C 0%,#B84123 100%);
  background-image: -o-linear-gradient(top, #D65B3C 0%,#B84123 100%);
  background-image: linear-gradient(top, #D65B3C 0%,#B84123 100%);
}

.eh_linkedin_button:focus, .eh_linkedin_button:active {
  outline: none;

}

.eh_linkedin_button img {
  width: 12px;
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: text-top;
}

.eh_linked_connected {
  margin: 0 0 0 5px;
}